@use "./styles/variables" as *;
@use "./styles/utilities" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  background: linear-gradient(135deg, $bg-start 0%, $bg-end 100%);
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;
}

